.App {
  background-color: cornflowerblue;
}
.cocktail4 {
  position: relative;
  bottom: 200px;
  right: 450px;
  visibility: hidden;
}
.cocktail4a {
  position: relative;
  bottom: 400px;
  left: 430px;
  visibility: hidden;
}
.cocktail5 {
  position: relative;
  bottom: 350px;
  left: 100px;
  visibility: hidden;
  width: 15%;
}
.cocktail6 {
  position: relative;
  bottom: 340px;
  left: 115px;
  visibility: hidden;
  width: 17%;
}
.cocktail7 {
  position: relative;
  bottom: 570px;
  left: 200px;
  visibility: hidden;
  width: 17%;
}
.cocktail8 {
  position: relative;
  bottom: 480px;
  right: 20px;
  visibility: hidden;
}
.garland {
  position: relative;
  bottom: 1095px;
  width: 690px;
  right: 25px;
  visibility: hidden;
}

.snow6,
.snow7,
.snow8,
.snow9,
.snow10 {
  visibility: hidden;
  z-index: 0;
}
p.p {
  position: relative;
  bottom: 78px;
  left: 100px;
  color: rgba(0, 0, 0, 0);
}
p.p1 {
  position: relative;
  bottom: 150px;
  left: 50px;
  color: rgba(0, 0, 0, 0);
}
.toggle-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-label {
  position: relative;
  bottom: -525px;
  left: 440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100px;
  height: 60px;
  background-color: rgb(250, 0, 0);
  border-radius: 100px;
}

.toggle-label .toggle-button {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  transition: 0.2s;
  border: 6px double black;
  background-color: rgb(9, 228, 252);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.1) 30%,
    rgba(62, 11, 244, 0.7)
  );
  box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.6),
    inset -4px -4px 3px rgba(0, 0, 0, 0.6);
  outline: none;
}

.toggle-checkbox:checked + .toggle-label .toggle-button {
  left: calc(100% - 1px);
  transform: translateX(-100%);
}

.toggle-label:active .toggle-button {
  width: 50px;
}
.box1 {
  position: relative;
  top: 35px;
  left: 25px;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(155, 5, 117, 0.646) 30%,
    rgba(62, 11, 244, 0.7)
  );
}
