@media screen and (min-width: 320px) and (max-width: 374px) {
  .App {
    background-color: cornflowerblue;
    width: 374px;
  }
  .box1 {
    position: relative;
    left: 10px;
    width: 360px;
    height: 580px;
    border-radius: 50%;
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(155, 5, 117, 0.646) 30%,
      rgba(62, 11, 244, 0.7)
    );
  }
  .toggle-label {
    position: relative;
    top: 485px;
    left: 240px;
  }
  .garland {
    position: relative;
    bottom: 1060px;
    width: 380px;
    height: 275px;
    right: 13px;
    visibility: hidden;
  }

  .cocktail4 {
    position: relative;
    bottom: 200px;
    left: 10px;
    visibility: hidden;
    animation: chink 4s linear 8s infinite;
  }
  @keyframes chink {
    0% {
      bottom: 150px;
      left: 40px;
    }
    30% {
      bottom: 150px;
      left: 10px;
    }
    60% {
      bottom: 150px;
      left: -80px;
    }
    100% {
      bottom: 150px;
      left: 40px;
    }
  }
  .cocktail4a {
    position: relative;
    bottom: 150px;
    left: -200px;
    visibility: hidden;
  }

  .cocktail5 {
    position: relative;
    bottom: 550px;
    left: 30px;
    visibility: hidden;
    width: 15%;
  }
  .cocktail6 {
    position: relative;
    bottom: 500px;
    left: 200px;
    visibility: hidden;
    width: 17%;
  }
  .cocktail7 {
    position: relative;
    bottom: 550px;
    left: 40px;
    visibility: hidden;
    width: 22%;
    animation: click2 5s linear 5s infinite;
  }
  @keyframes click2 {
    0% {
      bottom: 550px;
      left: 40px;
    }
    30% {
      bottom: 520px;
      left: 100px;
    }
    60% {
      bottom: 520px;
      left: -50px;
    }
    80% {
      bottom: 520x;
      left: -70px;
    }
    100% {
      bottom: 550px;
      left: 40px;
    }
  }
  .cocktail8 {
    position: relative;
    bottom: 330px;
    left: -120px;
    visibility: hidden;
    animation: chink1 4s linear 5s infinite;
  }
  @keyframes chink1 {
    0% {
      bottom: 350px;
      left: 50px;
    }
    30% {
      bottom: 350px;
      left: 60px;
    }
    60% {
      bottom: 350px;
      left: -20px;
    }
    100% {
      bottom: 350px;
      left: 50px;
    }
  }
}

.snow6 {
  visibility: hidden;
  position: relative;
  bottom: 750px;
  animation: fall 8s linear 5s infinite;
}
@keyframes fall {
  0% {
    bottom: 750px;
  }
  100% {
    bottom: 100px;
  }
}
.snow7 {
  visibility: hidden;
  position: relative;
  bottom: 750px;
  left: 30px;
  animation: fall 7s linear 5s infinite;
}
@keyframes fall {
  0% {
    bottom: 750px;
  }
  100% {
    bottom: 100px;
  }
}

.snow8 {
  visibility: hidden;
  position: relative;
  bottom: 750px;
  left: 60px;
  animation: fall 6s linear 5s infinite;
}
@keyframes fall {
  0% {
    bottom: 750px;
  }
  100% {
    bottom: 100px;
  }
}
.snow9 {
  visibility: hidden;
  position: relative;
  bottom: 750px;
  left: 90px;
  animation: fall 7s linear 5s infinite;
}
@keyframes fall {
  0% {
    bottom: 750px;
  }
  100% {
    bottom: 100px;
  }
}
.snow10 {
  visibility: hidden;
  position: relative;
  bottom: 750px;
  left: 90px;
  animation: fall 5s linear 5s infinite;
}
@keyframes fall {
  0% {
    bottom: 750px;
  }
  100% {
    bottom: 100px;
  }
}
.p {
  position: relative;
  bottom: 118px;
  left: 100px;
  color: rgba(0, 0, 0, 0);
}
.p1 {
  position: relative;
  bottom: 190px;
  left: 50px;
  color: rgba(0, 0, 0, 0);
  font-size: 50px;
}
